
<div class="col-lg-10 col-lg-offset-1 text-center">
  <a id="gallery-home" href="/" class="btn btn-dark btn-lg"><i class="fa fa-home fa-fw fa-1x"></i></a>
  <h1><%= @title %></h1>
  <% @pics.each do |photo| %>
        <div class="col-sm-4 align-self-center">
            <div class="portfolio-item align-self-center">
                <a class="img-portfolio img-responsive" href = "<%= photo.file_url(:large) %>"
                    data-lightbox="example-set" data-title=<%= %>>
                    <img class="img-portfolio img-responsive align-self-center" src="<%= photo.file_url(:thumb) %>"  alt="" /></a>

            </div>
        </div>
  <% end %>
</div>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
